.mc_embed_signup {
    width: 80%;
    max-width: 500px;
}

.emailForm {
    width: 99%;
    height: 34px;
    font-size: 1em;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    color: #ffffff;
    background-color: $cta-color;
    cursor: pointer;
    border: 1px solid $cta-color-light;
    padding: 6px 12px;
    font-size: 1em;
    line-height: 1.5em;
    border-radius: 4px;
    user-select: none;

    width: 100%;
}